@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@theme {
  --color-primary: #5F6FFF;

}
::-webkit-scrollbar{
  @apply hidden
}
*{
   font-family: "Outfit", sans-serif
}
@media (max-width: 740px) {
  .active p {
     color: black;
     border: 1px solid #5f6fff;
  }
}