@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: 'Outfit', sans-serif;
}
@theme {
  --color-primary: #5f6fff;
}
.active hr {
  display: block;
}
::-webkit-scrollbar{
  display: none;
  /* color: #212121; */
}

@media (max-width: 740px) {
  .active p {
     color: black;
     border: 1px solid #5f6fff;
  }
}

