@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: 'Outfit', sans-serif;
}
@theme {
  --color-primary: #5f6fff;
}
.active hr {
  display: block;
}
::-webkit-scrollbar{
  display: none;
  /* color: #c5e209; */
}

